.header__mini
  =link_to root_path, class: "header__mini__title" do
    %p.header__mini__title__text Tiger Mask
  .header__mini__right
    .header__mini__right__user
      - if user_signed_in?
        = link_to carts_path, class: "header__mini__right__user--cart" do
          %i.fas.fa-shopping-cart.fa-lg
        = link_to destroy_user_session_path, class: "header__mini__right__user--logout", method: :delete do
          %p ログアウト
      - else
        = link_to new_user_registration_path, class: "header__mini__right__user--new" do
          %p 登録
        = link_to new_user_session_path, class: "header__mini__right__user--login" do
          %p ログイン