= render "header"

.aboutus
  .aboutus__content
    .aboutus__content--left
      = image_tag "Mask1.png", size: "200x200", alt: "TigerMask"
      %p Mask
    .aboutus__content--right
      %i.fas.fa-user-md.fa-3x
      %p Donation
  .aboutus__layer--1
  .aboutus__layer--2