= render "header"

.aboutus
  .aboutus__content
    .aboutus__content--left
      = image_tag "Mask1.png", size: "200x200", alt: "TigerMask"
      %p Mask
    .aboutus__content--right
      %i.fas.fa-user-md.fa-3x
      %p Donation
  .aboutus__front
    %p 売上の10%を日本の医療研究に寄付。
    %p 医療の未来を支えます。
    = image_tag "TigerMask.png", size: "357x456", alt: "TigerMask"

  .aboutus__layer--1
  .aboutus__layer--2