= render "masks/header"

.donation
  .donation__content
    = image_tag "TigerMask.png", size: "238x304", alt: "TigerMask"
  .donation__message 現在の寄付金の合計
  .donation__message ¥#{@total_donation}
  .donation__message 日本の医療の未来のために活用させていただきます。
  = link_to root_path,class: "link-blue" do
    トップページに戻る