= render "masks/header_mini"

.payment
  .payment__content
    = image_tag "TigerMask.png", size: "238x304", alt: "TigerMask"
  .payment__message ご購入感謝申し上げます。
  .payment__message 寄付金は日本の医療の未来のために活用させていただきます。
  = link_to root_path,class: "link-blue" do
    トップページに戻る