.card
  .card__content
    .card__content__registration
      .card__content__registration__title
        クレジットカード情報照会
      .card__content__registration__img-logo
        = image_tag "#{@card_src}", class: "card__content__registration__img-logo", alt: @card_brand
      .card__content__registration__block-title
        カード番号
      %input{type: "text", class: "card__content__registration__input-text disabled", disabled: true, value: "**** **** **** " + @customer_card.last4}
        .card__content__registration__block-title
          有効期限
        .card__content__registration__input-text
          %input{type: "text", class: "card__content__registration__input-text__month input-half disabled", disabled: true, value: @exp_month}
          .month-details 月
          %input{type: "text", class: "card__content__registration__input-text__year input-half disabled", disabled: true, value: @exp_year}
          .year-details 年
        .card__content__registration__destroy-btn
          = link_to card_path(@card.id), method: :delete, class: "card__content__registration__destroy-btn" do
            削除する